/* NavigationBar.css */
.navbar {
  background-color: #575010;
  padding: 1rem;
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
display: revert-layer;
}

.navbar a {
  color: rgb(230, 225, 225);
  text-decoration: rgb(11, 168, 168);
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #292503;
  color: rgb(185, 82, 22);
}
